SearchShot/SearchShot/Service References/ServiceReference1/Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.31.128.172:8828/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Inscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InscriptionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authentification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthentificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthentificationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prenom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ville" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetInfosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_joueur" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS" minOccurs="0" name="GetInfosResult" nillable="true" type="q1:info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeopleInfos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeopleInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WS" minOccurs="0" name="GetPeopleInfosResult" nillable="true" type="q2:personnes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WS" minOccurs="0" name="GetFriendInfosResult" nillable="true" type="q3:personnes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetScoreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WS" minOccurs="0" name="GetUserInfosResult" nillable="true" type="q4:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLastCon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLastConResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetLastConResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InscriptionSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prenom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="picture" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="connexion" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InscriptionSocialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InscriptionSocialResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdTwitter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="twitter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdTwitterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserIdTwitterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InscriptionTwitter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="picture" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="connexion" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InscriptionTwitterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InscriptionTwitterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pic" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPicResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>