SearchShot/SearchShot/Service References/ServiceReference1/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.31.128.172:8828/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.31.128.172:8828/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.31.128.172:8828/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS" />
      <xsd:import schemaLocation="http://10.31.128.172:8828/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Inscription_InputMessage">
    <wsdl:part name="parameters" element="tns:Inscription" />
  </wsdl:message>
  <wsdl:message name="IService1_Inscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:InscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Authentification_InputMessage">
    <wsdl:part name="parameters" element="tns:Authentification" />
  </wsdl:message>
  <wsdl:message name="IService1_Authentification_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthentificationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:SetInfos" />
  </wsdl:message>
  <wsdl:message name="IService1_SetInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetInfosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfos" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPeopleInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleInfos" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPeopleInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleInfosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFriendInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendInfos" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFriendInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendInfosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetScore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScore" />
  </wsdl:message>
  <wsdl:message name="IService1_GetScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScoreResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfos" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetLastCon_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLastCon" />
  </wsdl:message>
  <wsdl:message name="IService1_SetLastCon_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetLastConResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InscriptionSocial_InputMessage">
    <wsdl:part name="parameters" element="tns:InscriptionSocial" />
  </wsdl:message>
  <wsdl:message name="IService1_InscriptionSocial_OutputMessage">
    <wsdl:part name="parameters" element="tns:InscriptionSocialResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserIdTwitter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdTwitter" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserIdTwitter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdTwitterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InscriptionTwitter_InputMessage">
    <wsdl:part name="parameters" element="tns:InscriptionTwitter" />
  </wsdl:message>
  <wsdl:message name="IService1_InscriptionTwitter_OutputMessage">
    <wsdl:part name="parameters" element="tns:InscriptionTwitterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPic_InputMessage">
    <wsdl:part name="parameters" element="tns:getPic" />
  </wsdl:message>
  <wsdl:message name="IService1_getPic_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPicResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Inscription">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Inscription" message="tns:IService1_Inscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InscriptionResponse" message="tns:IService1_Inscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authentification">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Authentification" message="tns:IService1_Authentification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AuthentificationResponse" message="tns:IService1_Authentification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetInfos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetInfos" message="tns:IService1_SetInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetInfosResponse" message="tns:IService1_SetInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetInfos" message="tns:IService1_GetInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetInfosResponse" message="tns:IService1_GetInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPeopleInfos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPeopleInfos" message="tns:IService1_GetPeopleInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPeopleInfosResponse" message="tns:IService1_GetPeopleInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendInfos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFriendInfos" message="tns:IService1_GetFriendInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFriendInfosResponse" message="tns:IService1_GetFriendInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScore">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetScore" message="tns:IService1_GetScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetScoreResponse" message="tns:IService1_GetScore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserId" message="tns:IService1_GetUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserIdResponse" message="tns:IService1_GetUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserInfos" message="tns:IService1_GetUserInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserInfosResponse" message="tns:IService1_GetUserInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetLastCon">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetLastCon" message="tns:IService1_SetLastCon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetLastConResponse" message="tns:IService1_SetLastCon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InscriptionSocial">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InscriptionSocial" message="tns:IService1_InscriptionSocial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InscriptionSocialResponse" message="tns:IService1_InscriptionSocial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserIdTwitter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserIdTwitter" message="tns:IService1_GetUserIdTwitter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserIdTwitterResponse" message="tns:IService1_GetUserIdTwitter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InscriptionTwitter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InscriptionTwitter" message="tns:IService1_InscriptionTwitter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InscriptionTwitterResponse" message="tns:IService1_InscriptionTwitter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPic" message="tns:IService1_getPic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPicResponse" message="tns:IService1_getPic_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="webServSansIISConfY" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inscription">
      <soap:operation soapAction="http://tempuri.org/IService1/Inscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authentification">
      <soap:operation soapAction="http://tempuri.org/IService1/Authentification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetInfos">
      <soap:operation soapAction="http://tempuri.org/IService1/SetInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfos">
      <soap:operation soapAction="http://tempuri.org/IService1/GetInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeopleInfos">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPeopleInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendInfos">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFriendInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScore">
      <soap:operation soapAction="http://tempuri.org/IService1/GetScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfos">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLastCon">
      <soap:operation soapAction="http://tempuri.org/IService1/SetLastCon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InscriptionSocial">
      <soap:operation soapAction="http://tempuri.org/IService1/InscriptionSocial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdTwitter">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserIdTwitter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InscriptionTwitter">
      <soap:operation soapAction="http://tempuri.org/IService1/InscriptionTwitter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPic">
      <soap:operation soapAction="http://tempuri.org/IService1/getPic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="webServSansIISConfY" binding="tns:webServSansIISConfY">
      <soap:address location="http://10.31.128.172:8828/Service1.svc/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>